<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="shortcut icon" href="/public/assent/angulo-derecho.png">
</head>

<body>
    <h1 class=" heroes"> Heroes de la programación ❤️</h1>
    <header>
        <nav class="navUl">

            <a class="navLi" id="next" href="/"></a>
            <a class="navLi" id="modo">🌓</a>
            <a class="navLi" href="/home">Home</a>
            <a class="navLi" href="/lovelace">Lovelace</a>
            <a class="navLi" href="/hamilton">Hamilton</a>
            <a class="navLi" href="/turing">Turing</a>
            <a class="navLi" href="/hopper">Hopper</a>
            <a class="navLi" href="/clarke">Clarke</a>
            <a class="navLi" href="/babbage">Babbage</a>
            <a class="navLi" id="next2" href="/clarke"></a>

        </nav>
    </header>

    <article>
        <h2>Wikipedia: Charles Babbage 🧙‍♂️</h2>
        <figure>
           <a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank"><img src="/public/img/babbage.jpg" alt="babbage imagen" ></a> 
        </figure>
        <p>Biografia: Charles Babbage fue un matemático y científico de la computación británico. Diseñó y desarrolló una
            calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También
            diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos
            inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una
            computadora, por lo que se le considera como "El padre de los ordenadores". En el Museo de Ciencias de
            Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe
            en el Royal College of Surgeons of England. Sitio en Londres.</p>
    </article>

    <footer>
        <a href="https://www.youtube.com/@Adeltar009" target="_blank"><p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p></a> 
     </footer>
     
    <audio src="/public/assent/eh.mp3" autoplay></audio>
    <script src="/public/js/index.js"></script>
    </body>

</html>