<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarke</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="shortcut icon" href="/public/assent/angulo-derecho.png">
</head>
<body>
    <h1 class=" heroes"> Heroes de la programación ❤️</h1>
    <header>
        <nav class="navUl">

            <a class="navLi" id="next" href="/babbage"></a>
            <a class="navLi" id="modo">🌓</a>
            <a class="navLi" href="/home">Home</a>
            <a class="navLi" href="/lovelace">Lovelace</a>
            <a class="navLi" href="/hamilton">Hamilton</a>
            <a class="navLi" href="/turing">Turing</a>
            <a class="navLi" href="/hopper">Hopper</a>
            <a class="navLi" href="/clarke">Clarke</a>
            <a class="navLi" href="/babbage">Babbage</a>
            <a class="navLi" id="next2" href="/hamilton"></a>

        </nav>
    </header>

    <article>
        <h2>Wikipedia: Joan Clarke 🧙‍♀️</h2>
        <figure>
           <a href="https://es.wikipedia.org/wiki/Joan_Clarke" target="_blank"><img src="/public/img/clarke.jpg" alt="clarke imagen"></a> 
        </figure>
        <p>Biografia:  Joan Clarke Una de las primeras mujeres programadoras cruciales dentro de un hito histórico! Joan Clarke (1917 / 1996)
            fue una criptoanalista inglesa famosa por su rol como descifradora de códigos durante la Segunda Guerra
            Mundial.
            Juntó con el equipo del matemático Alan Turing y desde su guarida secreta, el Hut8, Joan Clarke fue la única
            mujer que trabajaba para desencriptar las comunicaciones secretas de la Alemania nazi.
            Aunque trabajó arduamente, a Joan Clarke le pagaban menos que sus colegas hombres (nada justo!).
            Tuvo que ser ascendida a lingüista (aunque no trabajó con otro idioma sino con “lenguaje de máquinas”) para
            poder acceder a un aumento de salario, pues en aquel entonces no existía una política para una mujer
            criptoanalista senior.
            Como respuesta a esta cambió extraño de posición, Joan se divertía respondiendo los cuestionarios con
            ”Grado: Lingüista, Idiomas: ninguno’‘ .
            La habilidad de Clarke por descifrar los códigos crípticos de los alemanes nazis le valió el nombramiento de
            la Orden del Imperio Británico en 1946. Sin embargo sus esfuerzos estuvieron ocultos debido a las
            restricciones de la naturaleza del trabajo.
            Ya en 1971 al finalizar las restricciones de la Ley de Secretos Oficiales, los detalles de su sobresaliente
            labor recibieron la atención y difusión que merecía. </p>
    </article>

    <footer>
        <a href="https://www.youtube.com/@Adeltar009" target="_blank"><p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p></a> 
     </footer>
     
    <audio src="/public/assent/eh.mp3" autoplay></audio>
    <script src="/public/js/index.js"></script>
</body>
</html>


