<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="shortcut icon" href="/public/assent/angulo-derecho.png">
</head>

<body>
    <h1 class=" heroes"> Heroes de la programación ❤️</h1>
    <header>
        <nav class="navUl">

            <a class="navLi" id="next" href="/clarke"></a>
            <a class="navLi" id="modo">🌓</a>
            <a class="navLi" href="/home">Home</a>
            <a class="navLi" href="/lovelace">Lovelace</a>
            <a class="navLi" href="/hamilton">Hamilton</a>
            <a class="navLi" href="/turing">Turing</a>
            <a class="navLi" href="/hopper">Hopper</a>
            <a class="navLi" href="/clarke">Clarke</a>
            <a class="navLi" href="/babbage">Babbage</a>
            <a class="navLi" id="next2" href="/hopper"></a>

        </nav>
    </header>

    <article>
        <h2>Wikipedia: Margaret Hamilton 🧙‍♀️</h2>
        <figure>
           <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)" target="_blank"><img src="/public/img/hamilton.jpg" alt="hamilton imagen"></a> 
        </figure>
        <p>Biografia: Margaret Hamilton (1936-act, Estados Unidos) trabajando en la NASA en 1965 para la misión Apolo 11 desarrolló
            un programa para prevenir el colapso del sistema haciendo que el ordenador focalizara su energía en la tarea
            prioritaria, idea que le vino tras llevar a su hija al trabajo y que la pequeña tocara demasiados botones.
            Cuando el Apolo 11 se disponía a descender hacia la luna, empezó a sonar la alarma 1202 ya que la
            computadora de abordo no era capaz de procesar todos los comandos del aterrizaje en sus 72 kB de memoria.
            Gracias a que Hamilton había tenido en cuenta ese escenario, su programa avisó de ese modo de que la
            computadora estaba cerrando tareas poco prioritarias para centrarse en la más importante, alunizar. Unos
            minutos más tarde, Neil Armstrong se convirtió en la primera persona en pisar suelo lunar.</p>
    </article>

    <footer>
        <a href="https://www.youtube.com/@Adeltar009" target="_blank"><p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p></a> 
     </footer>
     
    <audio src="/public/assent/eh.mp3" autoplay></audio>
    <script src="/public/js/index.js"></script>
    </body>

</html>