<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Murray Hopper</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="shortcut icon" href="/public/assent/angulo-derecho.png">
</head>

<body>
    <h1 class=" heroes"> Heroes de la programación ❤️</h1>
    <header>
        <nav class="navUl">

            <a class="navLi" id="next" href="/hamilton"></a>
            <a class="navLi" id="modo">🌓</a>
            <a class="navLi" href="/home">Home</a>
            <a class="navLi" href="/lovelace">Lovelace</a>
            <a class="navLi" href="/hamilton">Hamilton</a>
            <a class="navLi" href="/turing">Turing</a>
            <a class="navLi" href="/hopper">Hopper</a>
            <a class="navLi" href="/clarke">Clarke</a>
            <a class="navLi" href="/babbage">Babbage</a>
            <a class="navLi" id="next2" href="/lovelace"></a>

        </nav>
    </header>

    <article>
        <h2>Wikipedia: Grace Murray Hopper 🧙‍♀️</h2>
        <figure>
           <a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper" target="_blank"><img src="/public/img/hopper.jpg" alt="hopper imagen"></a> 
        </figure>
        <p>Biografia: Grace Brewster Murray nació en Nueva York (EE. UU.). Grace era bisnieta de Alexander Russell, un almirante de
            la Armada de los Estados Unidos. Él fue su modelo y su héroe personal. También era nieta de un ingeniero
            civil, John Van Horne. Sus padres fueron Walter Fletcher Murray, corredor de seguros, y Mary Campbell Van
            Horne. Desde muy pequeña demostró aptitudes para las ciencias y la matemática. Recibió siempre el apoyo de
            su abuelo y de su padre para que las estudiara, pues quería que sus hijas tuvieran las mismas oportunidades
            que su hijo varón. También le atrajo mucho cualquier tipo de dispositivo mecánico, tanto fue así, que con 7
            años desarmó todos los relojes de su casa para ver si podía entender cómo funcionaban. En 1930 se casa con
            Vincent Foster Hopper, un doctor en literatura en lengua inglesa que durante muchos años fue presidente del
            Departamento de Inglés de la Universidad de Nueva York. Vincent y Grace se divorciaron en 1945 sin tener
            hijos.</p>
    </article>

    <footer>
        <a href="https://www.youtube.com/@Adeltar009" target="_blank"><p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p></a> 
     </footer>

    <audio src="/public/assent/eh.mp3" autoplay></audio>
    <script src="/public/js/index.js"></script>
    </body>

</html>