<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
    <link rel="stylesheet" href="public/css/styles.css">
    <link rel="shortcut icon" href="/public/assent/angulo-derecho.png">
</head>

<body>
    <h1 class=" heroes"> Heroes de la programación ❤️</h1>
    <header>
        <nav class="navUl">

            <a class="navLi" id="next" href="/hopper"></a>
            <a class="navLi" id="modo">🌓</a>
            <a class="navLi" href="/home">Home</a>
            <a class="navLi" href="/lovelace">Lovelace</a>
            <a class="navLi" href="/hamilton">Hamilton</a>
            <a class="navLi" href="/turing">Turing</a>
            <a class="navLi" href="/hopper">Hopper</a>
            <a class="navLi" href="/clarke">Clarke</a>
            <a class="navLi" href="/babbage">Babbage</a>
            <a class="navLi" id="next2" href="/turing"></a>

        </nav>
    </header>

    <article>
        <h2>Wikipedia: Ada Lovelace 🧙‍♀️</h2>
        <figure>
           <a href="https://es.wikipedia.org/wiki/Ada_Lovelace" target="_blank"><img src="/public/img/lovelace.jpg" alt="lovelace imagen"></a> 
        </figure>
        <p>Biografia: Ada Lovelace fue la única hija legítima de Anna Isabella y del poeta lord Byron,12 quien esperaba que su hijo
            fuera un niño y se sintió decepcionado cuando su esposa dio a luz a una niña. Nació el domingo 10 de
            diciembre de 1815. La niña lleva el nombre de la media hermana de Byron, Augusta Leigh, y fue llamada Ada
            por el propio Byron. El 16 de enero de 1816, por orden de lord Byron, lady Byron se fue a la casa de sus
            padres en Kirkby Mallory (Leicestershire) llevando a su hija de cinco semanas con ella. Aunque la ley
            inglesa en ese momento otorgaba la custodia total de los hijos al padre en casos de separación, lord Byron
            no intentó reclamar sus derechos parentales, pero solicitó que su hermana lo mantuviera informado sobre el
            bienestar de Ada. En abril de 1816 su padre abandonó Inglaterra huyendo de sus acreedores y del escándalo
            que se cernía sobre él por los rumores de incesto. Meses más tarde, Annabella presentó una demanda de
            separación. Durante los ocho años que lord Byron estuvo fuera de su país hasta su muerte escribía con
            frecuencia a Augusta y preguntaba por la hija de ambos. A Lovelace no se le mostró el retrato familiar de su
            padre hasta que cumplió 20 años.</p>
    </article>
    <script src="/public/js/index.js"></script>
    <footer>
        <a href="https://www.youtube.com/@Adeltar009" target="_blank"><p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p></a> 
     </footer>

    <audio src="/public/assent/eh.mp3" autoplay></audio>
    <script src="/public/js/index.js"></script>
    </body>

</html>