<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="shortcut icon" href="/public/assent/angulo-derecho.png">
</head>

<body>
    <h1 class=" heroes"> Heroes de la programación ❤️</h1>
    <header>
        <nav class="navUl">

            <a class="navLi" id="next" href="/lovelace"></a>
            <a class="navLi" id="modo">🌓</a>
            <a class="navLi" href="/home">Home</a>
            <a class="navLi" href="/lovelace">Lovelace</a>
            <a class="navLi" href="/hamilton">Hamilton</a>
            <a class="navLi" href="/turing">Turing</a>
            <a class="navLi" href="/hopper">Hopper</a>
            <a class="navLi" href="/clarke">Clarke</a>
            <a class="navLi" href="/babbage">Babbage</a>
            <a class="navLi" id="next2" href="/"></a>

        </nav>
    </header>

    <article>
        <h2>Wikipedia: Alan Turing 🧙‍♂️</h2>
        <figure>
           <a href="https://es.wikipedia.org/wiki/Alan_Turing" target="_blank"><img src="/public/img/turing.jpg" alt="turing imagen"></a> 
        </figure>
        <p>Biografia: Alan Turing nació en Maida Vale, Londres,10 Su padre Julius Mathison Turing (1873-1944) era miembro del cuerpo de
            funcionarios británicos en la India, estaba de licencia de su cargo en el Servicio Civil Indio (ICS) en
            Chatrapur, posteriormente Madrás y actualmente en el estado de Odisha, en la India. El padre de Turing era
            hijo de un clérigo, el reverendo John Robert Turing, de una familia escocesa de comerciantes que tenía su
            sede en los Países Bajos e incluía un baronet. La madre de Turing, era Ethel Sara Turing (de soltera Stoney;
            1881-1976), hija de Edward Waller Stoney, ingeniero jefe de Madras Railways. Los Stoney eran una familia de
            la nobleza protestante angloirlandesa de los condados de Tipperary y Longford, mientras que la propia Ethel
            había pasado gran parte de su infancia en el condado de Clare.</p>
    </article>

    <footer>
        <a href="https://www.youtube.com/@Adeltar009" target="_blank"><p>Copyright &copy; 2023 | > digitalHouse C21 | Nahuel Argandoña 👨‍🎨</p></a> 
     </footer>

    <audio src="/public/assent/eh.mp3" autoplay></audio>
    <script src="/public/js/index.js"></script>
    </body>

</html>